@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

::-moz-selection {
    color: #133054;
    background: #83abdb;
}

::selection {
    color: #ffffff;
    background: rgb(187, 167, 55);
}

/* Nav Bar */
nav {
    z-index: 999;
    position: relative;
    background-color: #d8e6ff;
    padding-top: 0.4rem;
}

.navArea {
    height: 60px;
    width: 100vw;
    background-color: #0000;
    /* box-shadow: 0px 2px 26px 2px rgb(0 0 0 / 45%); */
}

.logoArea {
    background-image: url(../images/logo.png);
    height: 60px;
    width: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navButtons {
    padding: 4px 6px 0 4px;
    margin: 0px 4px 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    color: #485262;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}

.navButtons.activeTab {
    color: #0c1a34;
    border-bottom: 4px solid #0c1a34d9 !important;
}

.navButtons:hover {
    color: #0c1a34;
    border-bottom: 4px solid #0c1a34a5;
}

/* Image Slider */
.carousel-container {
    overflow: hidden;
    width: 100vw;
    height: 600px;
    position: relative;
    box-shadow: 0 0 30px -20px #223344;
    margin: auto;
    z-index: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    display: block;
    width: 100%;
}

/* image gradient overlay [optional] */
/*  .mySlides::after {
    content: "";
    position: absolute;
    inset: 0;
      background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
  } */

/* Next & previous buttons */
.imageScroller .prev,
.imageScroller .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
}

.imageScroller .next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.imageScroller .prev:hover,
.imageScroller .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
}

/* Caption text */
.imageScroller .text {
    color: #f2f2f2;
    background-color: rgba(10, 10, 20, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

/* Number text (1/3 etc) */
.imageScroller .number {
    color: #f2f2f2;
    font-size: 16px;
    background-color: rgba(173, 216, 230, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.imageScroller .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

/* The dots/bullets/indicators */
.imageScroller .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.imageScroller .active,
.imageScroller .dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
}

/* transition animation */
.imageScroller .animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
}

@keyframes animate {
    from {
        transform: scale(1.1) rotateY(10deg);
    }

    to {
        transform: scale(1) rotateY(0deg);
    }
}

/* Book Designs */
.bookShow {
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    cursor: default;
}

.bookShow.one {
    background: linear-gradient(180deg, #30995c 16%, #59ba83 35%, #c0fdda 80%, #bbffd8 97%);
}

.bookShow.two {
    background: linear-gradient(180deg, #7c2121 16%, #d87d7d 35%, #ffd7d7 80%, #ffbcbc 99%);
}

.bookShow.three {
    background: linear-gradient(180deg, #21466b 16%, #397cbf 35%, #d7ebff 80%, #c1dffc 99%);
}

.bookShow.four {
    background: linear-gradient(180deg, #979024 16%, #c1b94e 35%, #fffbb3 80%, #f0e771 99%);
}

.bookImg {
    border-radius: 8px;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.readFull {
    position: absolute;
    inset: 0;
    background-color: #000000a6;
    border-radius: 8px;
    color: #fff;
    font-size: 2rem;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
}

.readFull:hover {
    opacity: 1;
}

.bookShow h1 {
    font-size: 1.1rem;
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    white-space: normal;
    height: 2.6rem;
}

.bookShow.one h1 {
    color: #0f8542;
}

.bookShow.two h1 {
    color: #a81e1e;
}

.bookShow.three h1 {
    color: #1e65ae;
}

.bookShow.four h1 {
    color: #777000;
}

.bookShow h2 {
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookShow .tags {
    display: flex;
}

.bookShow .tags a {
    text-decoration: none;
    color: #5151ab;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.6rem;
    background-color: #a0a4ff29;
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
}

/* Datatable */
.magazineTable table tr td {
    height: 250px;
    padding: 0.5rem;
}

.magazineTable table tr td:first-child {
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 14px 0 0 14px;
}

.magazineTable table tr td:last-child {
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 0 14px 14px 0;
    width: 100%;
}

.magazineTable table tbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.magazineTable table tbody tr {
    width: 50%;
    display: flex;
    flex: 0 0 auto;
    cursor: default;
}

.active>.page-link,
.page-link.active {
    background: linear-gradient(119deg, #0e37e6 0%, #e60e0e 14%, #be0d2b 75%, #22099f 100%);
    color: #fff !important;
}

.page-link {
    color: #ec1034 !important;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
    font-weight: 500;
}

.disabled>.page-link,
.page-link.disabled {
    color: #212529bf !important;
}

.magazineTable table .colorOne td {
    background: linear-gradient(180deg, rgba(224, 255, 237, 1) 24%, rgba(175, 255, 209, 1) 74%);
}

.magazineTable table .colorTwo td {
    background: linear-gradient(180deg, rgba(255, 237, 237, 1) 24%, rgba(255, 195, 195, 1) 74%);
}

.magazineTable table .colorThree td {
    background: linear-gradient(180deg, rgba(235, 245, 255, 1) 24%, rgba(209, 231, 254, 1) 74%);
}

.magazineTable table .colorFour td {
    background: linear-gradient(180deg, rgba(255, 253, 225, 1) 24%, rgba(254, 249, 187, 1) 74%);
}

.magazineTable .dataTables_info {
    position: absolute;
    top: -10px;
    left: 10px;
    color: #24324c;
    font-weight: 500;
    font-size: 1.1rem;
}

.magazineTable .dataTables_scrollBody {
    border-left: 0 !important;
}

.tableColOne {
    height: 240px;
}

.tableBookImg {
    width: 180px;
    border-radius: 8px;
}

.tableBookInfo {
    display: flex;
    flex-direction: column;
}

.tableBookInfo h1 {
    font-size: 1.4rem;
    margin-top: 0;
    /* margin-bottom: 1rem; */
    width: 90%;
}

.colorOne .tableBookInfo h1 {
    color: #0f8542;
}

.colorTwo .tableBookInfo h1 {
    color: #a81e1e;
}

.colorThree .tableBookInfo h1 {
    color: #1e65ae;
}

.colorFour .tableBookInfo h1 {
    color: #777000;
}

.tableBookInfo h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.tableBookTags {
    display: flex;
}

.tableBookTags .tagbtn {
    color: #5151ab;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.6rem;
    background-color: #a0a4ff29;
    padding: 0.1rem 0.6rem;
    border-radius: 4px;
    cursor: default;
}

.tableBookDetails {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.6rem;
}

.tableBookDetails .detailBtn {
    font-size: 0.9rem;
    font-weight: 500;
    color: #7a7a7a;
    margin: 0.4rem 0.8rem 0.4rem 0;
    padding-right: 0.5rem;
    border-right: 2px solid #c3c3c3;
}

.tableBookDetails .detailRateBtn {
    background-color: #0084ff;
    margin: 0.4rem 0.8rem 0.4rem 0;
    color: #fff;
    padding: 0 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    border-radius: 12px;
}

.tableBookDetails .detailRateBtn i {
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.actionBtns {
    position: relative;
}

.freeBtn {
    padding: 0.3rem 0.66rem;
    text-decoration: none;
    color: #fff;
    background-color: #ff7a3a;
    font-size: 1.1rem;
    border-radius: 4px;
    font-weight: 500;
    opacity: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.freeBtn:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.freeBtnFake {
    padding: 0.3rem 0.9rem;
    text-decoration: none;
    color: #fff;
    background-color: #ff7a3a;
    font-size: 1.1rem;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}