@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    overflow: hidden;
    position: relative;
}

::-moz-selection {
    color: #133054;
    background: #83abdb;
}

::selection {
    color: #83abdb;
    background: #021224;
}

/* Cursor */
.cursor-alias {
    cursor: alias;
}

.cursor-all-scroll {
    cursor: all-scroll;
}

.cursor-auto {
    cursor: auto;
}

.cursor-cell {
    cursor: cell;
}

.cursor-col-resize {
    cursor: col-resize;
}

.cursor-context-menu {
    cursor: context-menu;
}

.cursor-copy {
    cursor: copy;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-default {
    cursor: default;
}

.cursor-e-resize {
    cursor: e-resize;
}

.cursor-ew-resize {
    cursor: ew-resize;
}

.cursor-grab {
    cursor: -webkit-grab;
    cursor: grab;
}

.cursor-grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.cursor-help {
    cursor: help;
}

.cursor-move {
    cursor: move;
}

.cursor-n-resize {
    cursor: n-resize;
}

.cursor-ne-resize {
    cursor: ne-resize;
}

.cursor-nesw-resize {
    cursor: nesw-resize;
}

.cursor-ns-resize {
    cursor: ns-resize;
}

.cursor-nw-resize {
    cursor: nw-resize;
}

.cursor-nwse-resize {
    cursor: nwse-resize;
}

.cursor-no-drop {
    cursor: no-drop;
}

.cursor-none {
    cursor: none;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-progress {
    cursor: progress;
}

.cursor-row-resize {
    cursor: row-resize;
}

.cursor-s-resize {
    cursor: s-resize;
}

.cursor-se-resize {
    cursor: se-resize;
}

.cursor-sw-resize {
    cursor: sw-resize;
}

.cursor-text {
    cursor: text;
}

.cursor-url {
    cursor: url(myBall.cur), auto;
}

.cursor-w-resize {
    cursor: w-resize;
}

.cursor-wait {
    cursor: wait;
}

.cursor-zoom-in {
    cursor: zoom-in;
}

.cursor-zoom-out {
    cursor: zoom-out;
}

.fullBody {
    position: fixed;
    inset: 0;
    padding: 0;
    background-color: #021224;
}

header {
    display: flex;
    background-color: #090e18;
    position: relative;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #373636ba url(../images/loader.gif) 50% 50% no-repeat;
    background-size: 150px 150px;
}

.header_logo {
    height: 60px;
    cursor: pointer;
}

.brandName {
    background-image: url(../images/logo_wide.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 172px;
    margin: 0 1rem;
    opacity: 0.6;
    height: 100%;
}

.header_buttons {
    cursor: default;
    padding: 0.8rem;
    margin-left: auto;
    display: flex;
}

.dropdown_music {
    position: absolute;
    right: 20px;
    top: 100%;
    display: flex;
    box-shadow: 0 0 20px 0 #000a;
    border-radius: 0 0 8px 8px;
    /* background-color: #471d16; */
    background-color: #282828;
    z-index: 999;
}

.btn_list {
    position: absolute;
    top: 8px;
    right: 6px;
    margin: 0;
    padding: 0 !important;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.btn_music {
    /* background: #471d16; */
    background-color: #282828;
    border: 0 !important;
    height: 40px;
    width: 40px;
    color: #ffffff !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    padding: 0.2rem 0.6rem !important;
    margin: 0;
    text-decoration: none !important;
    border-radius: 0 0 8px 0;
}

.btn_music:hover {
    /* background: #30120c; */
    background-color: #191818;
}

.all_audio {
    display: none;
    height: 130px;
    width: 113%;
    background-color: #250a05;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.4rem;
    border: 5px solid #471d16;
}

.all_audio::-webkit-scrollbar {
    width: 6px;
}

.all_audio::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ce6b5a;
}

.all_audio::-webkit-scrollbar-thumb {
    background: #6d2113;
    border-radius: 10px;
}

.all_audio::-webkit-scrollbar-thumb:hover {
    background: #44160e;
}

.audio_track {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem 0.2rem 0.2rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #d184773d;
}

.audio_track h6 {
    color: #fff;
    font-size: 0.8rem;
    margin: 0;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio_track p {
    color: #fff;
    font-size: 0.8rem;
    margin: 0 0;
}

.audio-player {
    height: 40px;
    width: 300px;
    background: #471d16;
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: grid;
    border-radius: 0 0 0 8px;
    grid-template-rows: 6px auto;
    position: relative;
}

.audio-player .timeline {
    background: #662418;
    ;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
}

.audio-player .timeline .progress {
    background: #9c7022;
    width: 0%;
    height: 100%;
    transition: 0.25s;
}

.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 30px 0 14px;
}

.audio-player .controls>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid white;
}

.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}

.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
    cursor: default;
}

.audio-player .controls .name {
    cursor: default;
    font-family: 'Pacifico', cursive;
}

.audio-player .controls .time>* {
    padding: 2px;
}

.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}

.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    top: 10px;
    z-index: -1;
    width: 0;
    height: 14px;
    border-radius: 6px;
    background: white;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
}

.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: #9c7022;
    height: 100%;
    width: 75%;
    border-radius: 6px 0 0 6px;
}

.audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
}


.btn_header {
    background: transparent;
    border: 0 !important;
    color: #95abdb;
    font-size: 1.2rem !important;
    font-weight: 500;
    padding: 0.4rem !important;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
}

.btn_header:hover::after{
    position: absolute;
    height: 4px;
    width: 100%;
    background: #95abdb52;
    content: '';
    bottom: -5px;
    left: 0;
    border-radius: 4px;
}

.activeBtn {
    position: relative;
}

.activeBtn::after{
    position: absolute;
    height: 4px;
    width: 100%;
    background: #9c7022 !important;
    content: '';
    bottom: -5px;
    left: 0;
    border-radius: 4px;
}

.btn_contact {
    background: #1f2937;
    border: 0 !important;
    border-radius: 25px;
    color: #ffffff !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    padding: 0.4rem 1rem !important;
    text-decoration: none !important;
    cursor: pointer;
}

.btn_submit {
    background: #4a5e77;
    border: 0 !important;
    border-radius: 25px;
    display: block;
    color: #ffffff !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    padding: 0.4rem 2rem !important;
    margin: 2rem 0 0 auto;
}

.mainContents {
    height: 100vh;
    overflow-y: hidden;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    cursor: default;
    padding: 0.05rem 1rem;
    background-color: #090e18d9;
}

footer>div {
    color: #fff6;
    font-size: 0.6rem;
    padding: 0.1rem;
}

.leftSideBar {
    background: #111827;
    height: 92vh;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 1rem;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav::-webkit-scrollbar {
    width: 0px;
}

pre::-webkit-scrollbar {
    height: 6px;
}

pre::-webkit-scrollbar-track {
    background: #27313e;
    border-radius: 10px;
}

pre::-webkit-scrollbar-thumb {
    background: #395577;
    border-radius: 10px;
}

pre::-webkit-scrollbar-thumb:hover {
    background: #0e1b2b;
}

nav ul li a {
    display: block;
    background: transparent;
    padding: 6px 16px;
    color: #b1d5ff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

nav ul li a:hover {
    background: #1f2937;
    color: #fff;
    border-radius: 8px;
}

nav ul li a .fa {
    width: 16px;
    text-align: center;
    float: right;
}

nav ul li ul li a {
    background: transparent;
    border-left: 4px solid transparent;
    padding: 6px 10px;
    margin-left: 12px;
}

nav ul li ul li a:hover {
    background: #1f2937;
    color: #fff;
    border-radius: 8px;
}

.sub-menu ul {
    border-left: 1px solid #adcff9;
    margin-left: 1rem;
}

.rightWorkArea {
    background: #1f2937;
    height: 92vh;
    position: relative;
}

.floating_to_do {
    position: absolute;
    padding: 0.2rem 0;
    background-color: #9c70225e;
    color: #fff;
    right: -30px;
    bottom: 43px;
    z-index: 999;
    border-radius: 6px 0 0 6px;
    transition: all 0.3s ease
}

.floating_to_do:hover {
    background-color: #9c7022;
    right: 0px;
}

.floating_to_do i {
    padding: 0.5rem;
    font-size: 1.4rem;
    color: #fff;
}

.super_heading {
    font-size: 1.6rem;
    color: #fff;
    padding: 0.2rem;
    text-align: center;
}

.spec_hr {
    border-top: 1px solid #fff;
    margin: 0 0 1rem 0;
}

.codeFrames iframe {
    height: 100vh;
    width: 100%;
    position: fixed;
}

.code_main {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 77vh;
}

.code_main::-webkit-scrollbar {
    width: 0px;
}

.code_main h1 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 0.5rem;
    position: relative;
}

.code_main h2 {
    font-size: 1.4rem;
    color: #b3afff;
    margin-bottom: 0.5rem;
    margin-left: 0.4rem;
}

.code_main h2::before {
    content: '-';
    margin-right: 0.8rem;
}

.code_main p {
    color: #cdddff;
    font-size: 1.1rem;
    margin-left: 2rem;
}

.code_main ul li,
.code_main ol li {
    color: #cdddff;
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 0.2rem;
}

.contact_main {
    padding: 0 1rem;
}

.contact_main h1 {
    font-size: 2rem;
    color: #95abdb;
    margin-bottom: 2rem;
    text-align: center;
}


.contact_main label {
    width: 100%;
    display: flex;
}

.contact_main label span {
    display: inline-block;
    width: 25%;
    color: #ffffff78;
    font-size: 1.2rem;
}

.contact_main label input {
    width: 75%;
    height: 2.2rem;
    background-color: #606975;
    border-radius: 6px;
    border: 0;
    padding: 0 1rem;
    color: #fff;
}

.contact_main label textarea {
    width: 75%;
    height: 5rem;
    background-color: #606975;
    border-radius: 6px;
    border: 0;
    padding: 0 1rem;
    color: #fff;
}

.iconList {
    display: flex;
}

.iconList h1 {
    color: #86abdb;
    font-size: 1.2rem;
}

.iconList h2 {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
}

.iconList h3 {
    color: #ffffff52;
    font-size: 0.8rem;
    font-weight: 400;
}

.icon_left {
    width: 26%;
    margin-right: 4%;
}

.iconList .contact_img {
    width: 100%;
    border-radius: 50%;
    opacity: 0.7;
    border: 5px solid #95abdb;
}

.icon_right i {
    font-size: 1.4rem;
}

.icon_right i:hover {
    color: #86abdb !important;
}

/* Version Page */
.versionFrames iframe {
    width: 100%;
    height: 300px;
}

.versionFramesBody {
    background-color: #364151 !important;
    padding: 1rem 1.4rem;
}

.version-header {
    font-size: 1.8rem;
    color: #95abdb;
}

.version_data {
    height: 76vh;
    overflow-y: scroll;
    background-color: #1f2937;
    padding: 1rem;
}

.version_data::-webkit-scrollbar {
    width: 0px;
}

.version_data h2 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 0;
}

.version_data h3 {
    font-size: 0.8rem;
    color: #ffffff4d;
    font-weight: 400;
    margin-bottom: 0;
}

.version_data h4 {
    font-size: 0.8rem;
    color: #ffffff4d;
    font-weight: 400;
    margin-bottom: 0;
}

.version_data h4::before {
    content: '|';
    margin-right: 0.8rem;
}

.version_data .version_name {
    display: flex;
    border-bottom: 1px solid #606975b8;
    padding-bottom: 0.4rem;
    margin-bottom: 0.3rem;
    align-items: flex-end;
}

.version_data .version_name .latest {
    color: #5ae08a;
    margin: 0 0.4rem;
}

.version_data ul {
    padding: 0;
    list-style: none;
}

.version_data ul li {
    color: #d0d0d0;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.version_data ul li:before {
    content: '-';
    margin-right: 0.5rem;
}

/* version end */

/* Emmet */
.EmmetCode .line-numbers {
    margin-bottom: 0.2rem;
}

.output .toolbar {
    display: none;
}

.output {
    margin-bottom: 1rem;
}

.output .code-toolbar {
    width: 100%;
    border-bottom: 5px solid #655638;
}

.output pre {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    background-color: #1f2937 !important;
}

.output .badge {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    background-color: #ad843a7d;
    border-radius: 0px 6px 6px 6px;
}

/* end emmet */


/* Modal Changes */
.modal-main-right {
    top: 55px !important;
}

.rightModal {
    height: 100%;
}

.to-do-body {
    color: #fff;
    background-color: #131e36;
    padding: 1rem;
}

.task-list {
    list-style: none;
    padding: 0;
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.task-list::-webkit-scrollbar {
    width: 0px;
}

.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.task-list input[type="checkbox"] {
    margin-right: 10px;
}

.to-do-body>div {
    display: flex;
    flex-direction: column;
}

.task-list-input {
    display: flex;
}

.task-list-input input {
    width: 70%;
    height: 2rem;
    background-color: #0f141b;
    border: 1px solid #0f141b;
    padding: 0 0.6rem 0.2rem;
    border-radius: 8px;
    color: #fff;
}

.task-list-input button {
    width: 30%;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 8px;
    border: 0;
    background-color: #9c7022;
    color: #fff;
    font-weight: 500;
}
/* end Modal */

.tips_page {
    color: #fff;
    background-color: #131e36;
    padding: 1rem;
}

.tips_page h3{
    padding-bottom: 0.8rem;
    border-bottom: 3px solid #9c7022;
}

.tips_page h5{
    color: #e3397b;
    font-weight: 400;
}

.tips_page h6{
    color: #b3afff;
    font-weight: 400;
}
.tips_page h6 span{
    color: #a6e22e;
}
.tips_page ul{
    list-style: none;
}

.tips_page ul li{
    position: relative;
    cursor: default;
}

.tips_page ul li::before {
    content: "";
    height: 20px;
    width: 20px;
    background-image: url(../images/bulb-off.png);
    background-size: cover;
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -1em;
    position: absolute;
    left: 8px;
    top: 4px;
}

.tips_page ul li::after {
    content: "";
    height: 20px;
    width: 20px;
    background-image: url(../images/bulb-on.png);
    opacity: 0;
    background-size: cover;
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -1em;
    position: absolute;
    left: 8px;
    top: 4px;
}

.tips_page ul li:hover::after {
    opacity: 1;
}