@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    overflow: hidden;
    position: relative;
}

::-moz-selection {
    color: #133054;
    background: #83abdb;
}

::selection {
    color: #83abdb;
    background: #021224;
}

/* Nav Bar */
.navArea{
    height: 60px;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0px 2px 26px 2px rgb(215 215 215 / 45%);
}

.logoArea{
    background-image: url(../images/logo.png);
    height: 50px;
    width: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 0;
}